@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .ellipsis-one-line {
        @apply line-clamp-1 break-all
    }
    .grid-playlist {
        @apply grid grid-cols-playlist gap-6
    }
    .md-hidden {
        @apply md:flex hidden
    }
    .text-greedy {

    }
}

@layer utilities {
    .hidden-scrollbar {
        -ms-overflow-style: none; /* IE, Edge 対応 */
        scrollbar-width: none; /* Firefox 対応 */
    }
    .hidden-scrollbar::-webkit-scrollbar {
        /* Chrome, Safari 対応 */
        display: none;
    }
}